[submodule "source/ferrite"]
	path = source/ferrite
	url = git@github.com:agerasev/ferrite-rs.git
[submodule "source/ioc/FerriteSup"]
	path = source/ioc/FerriteSup
	url = git@github.com:agerasev/ferrite-epics.git
[submodule "source/mcu/freertos"]
	path = source/mcu/freertos
	url = https://github.com/agerasev/freertos-rust.git
[submodule "source/flatty"]
	path = source/flatty
	url = https://github.com/agerasev/flatty.git
