[submodule "vortex"]
	path = vortex
	url = ../vortex.git
[submodule "ferrite-rs"]
	path = source/app/ferrite
	url = https://github.com/agerasev/ferrite-rs.git
[submodule "ferrite-epics"]
	path = source/app/ioc/FerriteSup
	url = https://github.com/agerasev/ferrite-epics.git
[submodule "flatty"]
	path = source/common/flatty
	url = https://github.com/agerasev/flatty.git
[submodule "ustd"]
	path = source/mcu/ustd
	url = https://github.com/agerasev/ustd-rs.git
[submodule "ca"]
	path = source/test/ca
	url = https://github.com/agerasev/epics-ca.git
[submodule "atomic-traits"]
	path = source/common/atomic-traits
	url = https://github.com/agerasev/rust-atomic-traits.git
